.header-div {
  margin: 4rem;

  @media screen and (max-width: 1215px) {
    margin-top: -9.0rem;
  }
  
  @media screen and (max-width: 1050px) {
    margin-top: -13.0rem;
  }


  @media screen and (max-width: 770px) {
    margin-top: -14.0rem;
  }
}

.footer-div{
  @media screen and (max-width: 770px) {
    margin-top: -80.0rem;
  }
  @media screen and (max-width: 450px) {
    margin-top: -60.0rem;
  }
}

.benefit-div {
  background: url("../../assets/images/dinode.png");
  background-position: center center;
  padding: 4rem 0 2rem;
}

.faq-team-inner-div {
  display: flex;
  align-items: center;
  height: 100vh;

  @media screen and (max-width: 770px) {
    flex-direction: column !important;
    height: 270vh;
    align-items: flex-start;
    margin-bottom: 120px;
  }
  .team{

    flex-basis: 40%;
    height: 100%;
    margin-right: 40px;

    @media screen and (max-width: 1215px) {
      flex-basis: 100%;
      height: 50%;
      margin-right: -30px;
    }

    @media screen and (max-width: 1050px) {
      flex-basis: 100%;
      height: 50%;
      margin-right: -25px;
    }

    @media screen and (max-width: 770px) {
      margin: 0 -10px 50px 60px;
    }

    @media screen and (max-width: 450px) {
     margin: 0 0 50px 60px;
     height: 100%;
    }
  }

  .faq {
    flex-basis: 40%;
    margin-top: -40px;

    @media screen and (max-width: 770px) {
      margin: -35rem 0 0 0;
    }

    @media screen and (max-width: 450px) {
       margin: 0 0 0 0;
     }
  }
}
